<fieldset>
  <legend>All Contacts</legend>
  <ul>
    <% @contacts.each do |contact| %>
    <li><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a></li>
  <% end %>

    <a href="/contacts/<%= contact.id %>/edit">Edit</a>

    <form action="/contacts/<%= contact.id %>" method="POST">
      <input name="_method" type="hidden" value="delete"/>
      <input type="submit" value="Delete" />
    </form>

    <% end %>
  </ul>
  <a href="/">Homepage</a>
</fieldset>